<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" href="../css/login.css" />
		<script src="https://kit.fontawesome.com/3e1e584413.js"></script>
		<title>Login</title>
	</head>
	<body>
		<h1 class="title">Welcome!</h1>
		<div class="signup">
			<div class="signup-connect">
				<h1>Login With</h1>
				<a href="#" class="btn btn-social btn-facebook"><i class="fab fa-facebook"></i> Sign up with Facebook</a>
				<a href="#" class="btn btn-social btn-twitter"><i class="fab fa-twitter"></i> Sign up with Twitter</a>
				<a href="/auth/google" class="btn btn-social btn-google"><i class="fab fa-google"></i> Sign up with Google</a>
				<a href="#" class="btn btn-social btn-linkedin"><i class="fab fa-linkedin"></i> Sign up with Linkedin</a>
			</div>
			<div class="signup-classic">
				<h1 class="logintitle">Login</h1>
				<form class="form" action="/auth/login" method="POST">
					<fieldset class="email">
						<input type="email" placeholder="email" name="email" />
					</fieldset>
					<fieldset class="password">
						<input type="password" placeholder="password" name="password" />
					</fieldset>
					<button type="submit" class="btn">Sign in</button>
				</form>
				<a href="/auth/register" class="btn register">Register Locally</a>
			</div>
		</div>
	</body>
</html>
